.review-box{
    width: 99%;
    height: 364px;
    position: absolute;
    top: 68px;
    left: 8px;
    background-color: black;
}
.section-1{
    display: inline-block;
  
  width: calc(100% / 4);
  height: 100%;
  background-color:#160040;
  border: 1px solid black;
}

.review-1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F5F5F5;
    height: 312px;
    width: 283px;

    border-radius: 12px;
}

.review-section{
    width: 100%;
    height: 652px;
    position: absolute;
    top: 562px;
    left: 0;
    background-color: #F5F5F5;
}


.circle-img{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 21px;
    left: 50px;
    z-index: 1;
    border-radius: 50%;
    background-color: grey;
}

.art-image1{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 432px;
    left: 1000px;
    z-index: 1;
    border-radius: 50%;
    background-image: linear-gradient(#348F50, #56B4D3);
}
.art-image2{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 474px;
    left: 190px;
    z-index: 1;
    border-radius: 50%;
    background-image: linear-gradient(#348F50, #56B4D3);
}
.art-image3{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 498px;
    left: 301px;
    z-index: 1;
    border-radius: 50%;
    background-image: linear-gradient(#348F50, #56B4D3);
}




.circle-img-profile{
    position: relative;
    height: 130px;
    width: 130px;
    top: 21px;
    left: 78px;
    z-index: 1;
    border-radius: 50%;
    background-color: grey;
}
.review-line{
    border: none;
    border-top: 2px solid #D3D3D3;
    height: 1px;
    position: relative;
    width: 165px;
    top: 171px;
}
.subscribe-bar{
    position: relative;
    top: 90%;
    left: 500px;
   

}
.round-button{
    position: absolute;
    top: 1px;
    height: 39px;
    width: 125px;
    left: 286px;
    border-radius: 12px;
    padding: 10px 20px;
    background-color: #00FFD1;
    color: #fff;
    border: none;
    cursor: pointer;
    border-color: none;
}

.input-bar{
    border-radius: 7px;
    width: 275px;
    height: 39px;
    border-color: #D3D3D3;
}


.img-pic{
    position: absolute;
    height: 130px;
    width: 130px;
    top: 0px;
    left: 1px;
    z-index: 1;
    border-radius: 50%;
}