

  .navbar-nav .nav-link {
    margin-right: 100px; /* adjust this value as needed */
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: end;
  }
  .navbar ul {

    background-color:antiquewhite;
    top: 0px;
 } 

 .navbar {
    background-color: #1F1172;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;

  }
  