.saving-section {
  width: 100%;
  height: 617px;
  position: absolute;
  top: 364px;
  left: 0;
  background-color: rgb(70, 180, 43);
}
.saving-instruc {
    width: 40%;
    height: 685px;
    position: absolute;
    top: 1218px;
    left: 0;
    background-color: #f5f5f5;;
}

.saving-plans {
    width: 60%;
    height: 685px;
    position: absolute;
    top: 1218px;
    right: 0;
    background-color:#F5F5F5;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  max-width: 250px;
  height: 380px;
  position: relative;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.h-1 {
  text-transform: uppercase;
}
.ribon {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #2b98f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ribon .fas.fa-spray-can,
.ribon .fas.fa-broom,
.ribon .fas.fa-shower,
.ribon .fas.fa-infinity {
  font-size: 30px;
  color: white;
}
.card .price {
  color: #2b98f0;
  font-size: 30px;
}
.card ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card ul li {
  font-size: 12px;
  margin-bottom: 8px;
}
.card ul .fa.fa-check {
  font-size: 8px;
  color: #FF7F00;
}
.card:hover {
  background-color: #FF7F00;
}
.card:hover .fa.fa-check {
  color: #2b98f0;
}
.card .btn {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b98f0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
@media (max-width: 500px) {
  .card {
    max-width: 100%;
  }
}

.plans{
    justify-content: center;
    width: 100%;
 
    padding-top: 70px;
}
.row{
    width: 100%;
    padding-left: 36px;
    
}

.line{
    border: none;
    border-top: 2px solid #D3D3D3;
    height: 1px;
    position: relative;
    top: 80px;
}
.vertical-line{
    position: relative;
    border-left: 2px solid #D3D3D3;
    height: 600px;
    left: 469px;
}
.instructions{
    display: flex;
    flex-direction: column;
}

.para-pos1{
    margin: 5%;
    width: 70%;
    height: 500px;
    position: absolute;
    top: 106px;
    left: 0;
    font-size: smaller;
    padding-left: 1%;
   
}
.para-pos2{
    margin: 5%;
    width: 70%;
    height: 500px;
    position: absolute;
    top: 226px;
    left: 0;
    font-size: smaller;
    padding-left: 1%;
}
.para-pos3{
    margin: 5%;
    width: 70%;
    height: 500px;
    position: absolute;
    top: 368px;
    left: 0;
    font-size: smaller;
    padding-left: 1%;
   
}